 <!-- <div>
	<div class="row wrapper">
		<div class="col-md-3 cols">
			<div class="col">
				<div class="container">
					<div class="front" style="background-image: url(/assets/images/dashboard/my-money.jpg)">
						<div class="inner">
							My Money
						</div>
					</div>
					
					<div class="back">
						<div class="inner">
							<p>Lets talk money</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3 cols">
			<div class="col">
				<div class="container">
					<div class="front" style="background-image: url(/assets/images/dashboard/my-kitchen.jpg)">
						<div class="inner">
							My kitchen
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<a routerLink="/kitchen"><button class="btn btn-success" > Let's go </button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 cols">
			<div class="col">
				<div class="container">
					<div class="front" style="background-image: url(/assets/images/dashboard/my-transactions.jpg)">
						<div class="inner">
							My Health
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<p>Let' see !!!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 cols">
			<div class="col">
				<div class="container">
					<div class="front" style="background-image: url(/assets/images/dashboard/my-day.jpg)">
						<div class="inner">My Day </div>
					</div>
					<div class="back">
						<div class="inner">
							<p>I dont know what I am going to see here...</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>  -->



<!-- <div class="container-fluid">
	<h1>Hello World!</h1>
	<div class="row">
	  <div class="col-sm-3" style="background-color:yellow;">
		<p>Lorem ipsum...</p>
	  </div>
	  <div class="col-sm-9" style="background-color:pink;">
		<p>Sed ut perspiciatis...</p>
	  </div>
	</div>
  </div> -->

  <!-- Bootstrap based -->

  <!-- <div class ="container">
	  <div class="row">
		<h1>Simple bootstrap image gallery</h1>
	  </div>

	  <div class="row">
		<div class="col-md-4 col-lg-3 my-img">
			<img class="img-fluid img-thumbnail" src="/assets/images/dashboard/my-day.jpg"> My Days
		</div>
		<div class="col-md-4 col-lg-3"><img class="img-fluid img-thumbnail" src="/assets/images/dashboard/my-day.jpg"></div>
		<div class="col-md-4 col-lg-3"><img class="img-fluid img-thumbnail" src="/assets/images/dashboard/my-day.jpg"></div>
		<div class="col-md-4 col-lg-3"><img class="img-fluid img-thumbnail" src="/assets/images/dashboard/my-day.jpg"></div>
		<div class="col-md-4 col-lg-3"><img class="img-fluid img-thumbnail" src="/assets/images/dashboard/my-day.jpg"></div>

	  </div>
  </div> -->


  <div class="row">
	<div class="col-lg-12">Simple bootstrap Image Gallery</div>
	<div class="col-lg-3 col-md-4 col-sm-6 d-none d-lg-block">
		<a class="thumbnail"> 
			<p>My Stuff</p>
			<img src="/assets/images/dashboard/my-day.jpg" class="mg-fluid img-thumbnail">
		</a>
	</div>

	<div class="col-lg-3 col-md-4 col-sm-6">
		<a> 
			<p>My Stuff</p>
			<img src="/assets/images/dashboard/my-day.jpg" class="mg-fluid img-thumbnail">
		</a>
	</div>

	<div class="col-lg-3 col-md-4 col-sm-6">
		<a> 
			<p>My Stuff</p>
			<img src="/assets/images/dashboard/my-day.jpg" class="mg-fluid img-thumbnail">
		</a>
	</div>

	<div class="col-lg-3 col-md-4 col-sm-6">
		<a> 
			<p>My Stuff</p>
			<img src="/assets/images/dashboard/my-day.jpg" class="mg-fluid img-thumbnail">
		</a>
	</div>

</div>