

<div>
  <nav class="navbar navbar-expand-md navbar-light">
    <a href="#" class="navbar-brand">My Stuff</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a href="#" class="nav-item nav-link active" >Home</a>
        <a href="#" class="nav-item nav-link " *ngIf="!isLoggedIn()">Profile</a>
        <a href="#" class="nav-item nav-link ">Messages</a>
        <a href="#" class="nav-item nav-link ">About</a>
      </div>

      <div class="navbar-nav ml-auto">
        <!-- <p>{{(_firebaseService.user$ |async)?.email}} </p> -->

        <a (click)= "goToLoginPage()" class="nav-item nav-link" *ngIf="!isLoggedIn()">Login</a>
        <a routerLink="/signin" class="nav-item nav-link" *ngIf="!isLoggedIn()">Sign in</a>
        <a (click)="logout()" class="nav-item nav-link" *ngIf="isLoggedIn()">Logout</a>
      </div>
    </div>
  </nav>
</div>