

input {
    outline: 0;
    border-width: 0 0 2px;
  }
  input:focus {
    outline:none;
    border-color: green; 
  }

.login-form{
    margin-top: 2rem;
}

.heading{

    text-align: center;
}

.sub-heading{
    display: block;
    padding: 0;
    margin-top: .35294rem;
    font-size: .82353rem;
    letter-spacing: -.3px;
    text-align: center;
}
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .flex-container {
    display: flex;
    justify-content: center;
    width: 43rem;
  }
  
  .flex-container > div {
    width: 5rem;
    margin: 1px;
    text-align: center;

  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }