.bg {
    background-image: url('/assets/images/savaal/question1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    height:100vh; 
    background-position: center;

  }
  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color:lightslategray; */
}

.parent-height{
    height: 70%;

}

.quote{
    align-self: center;
    padding-top: 03%;
}

  .main {
    font-size: 3.25rem;
    font-family: "Audiowide", sans-serif;
    padding-top: 8rem;

  }
  .event{
      padding-top: 5rem;
      align-self: center;
  }

 

.join-contianer{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}
  

